@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product</title>
</head>
<body>
  <h1>Product list</h1>
  <a asp-action="add" asp-controller="product">Add product</a>
  <table border="1" cellpadding="2" cellspacing="2">
     <tr>
       <th>Id</th>
       <th>Name</th>
       <th>Price</th>
       <th>Quantity</th>
       <th>Status</th>
       <th>Action</th>
     </tr>
     @foreach(var product in ViewBag.products)
     {
       <tr>
         <td>@product.Id</td>
         <td>@product.Name</td>
         <td>@product.Price</td>
         <td>@product.Quantity</td>
         <td>@product.Status</td>
         <td> 
            <a asp-route-id="@product.Id" asp-action="edit" asp-controller="product">Edit</a> | 
            <a onclick="return confirm('Are you sure?')" asp-route-id="@product.Id" asp-action="delete" asp-controller="product">Delete</a>
         </td>
       </tr>
     }
  </table>
</body>
</html>